.calendar
  &::after
    content: ""
    height: 4px
    width: 100%
    background-color: rgba(black, 0.4)
    position: absolute
    bottom: 0
    left: 0
    opacity: 0.5
  .left
    width: 40%
    background-color: $primary
    position: relative
    padding: 20px
    padding-bottom: 50px
    padding-top: 40px
    text-align: left
    color: white
    max-height: 600px
    overflow: scroll
    h1
      font-weight: 300
      font-size: 30px
      margin-bottom: 80px
    .event-input-group
      margin-bottom: 80px
      .event-input
        border: 0
        background: transparent
        border-bottom: 1px solid darken(white, 10%)
        color: white
        height: 40px
        float: left
        outline: none
        transition: all 0.2s ease-out
        font-size: 14px
        @include placeholder
          color: darken(white, 10%)
      .event-input:focus
        border-bottom: 1px solid white
        @include placeholder
          color: white
      .event-time
        width: 15%
      .event-body
        width: 80%
      .event-submit
        width: 5%
        text-align: right
        cursor: pointer
        &:hover
          opacity: 0.8
    .event-item
      font-weight: 300
      display: block
      line-height: 30px
      font-size: 14px
      .event-body
        float: left
        width: 80%
      .event-time
        float: left
        width: 15%
        font-weight: 500
      .event-delete
        width: 5%
        float: right
        cursor: pointer
        &:hover
          opacity: 0.8
