<p>{{format-date day 'DD'}}</p>
<div class="eventDots">
  {{#each eventsToday as |event|}}
    <div class="dot"></div>
  {{/each}}
  {{#if overlimit}}
    <div class="dot red"></div>
  {{/if}}
</div>
